.main-city {
	position: relative;
	height: 250px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	border: 1px solid white;
	border-radius: 20px;
}

.select-box {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	&__title {
		font-size: 50px;
		margin: 0;
	}

	&-options {
		display: flex;
		flex-direction: column-reverse;
		gap: 30px;
	}
}

.labels {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	&__icon {
		width: 200px;
	}

	@media screen and (max-width: 1280px) {
		&__icon {
			width: 100px;
		}
	}

	&__btn {
		padding: 0;
		position: absolute;
		width: 40px;
		height: 40px;
		right: 10px;
		top: 10px;
		display: flex;
		align-items: center;
		justify-content: center;

		&--icon {
			padding: 10px;
			transform: scale(1);
			transition: transform 0.3s ease;

			&:hover {
				transform: scale(1.4);
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.labels {
		width: 100%;
		justify-self: center;
	}
}

.informations {
	margin: 0;
	padding: 20px;
	padding-top: 5px;
	list-style: none;
	display: flex;
	gap: 30px;
	width: 100%;
	border-top: 1px solid white;

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		&--value {
			font-size: 20px;
			font-weight: 600;
		}
	}
}

@media screen and (max-width: 1280px) {
	.informations {
		gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.selectBox-options__localize-btn--icon {
	width: 15px;
}
